<div class="jumbotron">
    <div class="container">
        <h1 class="display 3">About us</h1>
        <hr class="my-2">
        	<p>This site was built to provide free ad-free recipes. Users can follow their favorite contributors to stay up to date with the newest recipes. </a></p>
        </hr>
    </div>
</div>