<div class="jumbotron">
	<div class="container">
		<h1 class="display 3">Contact Us</h1>
		<hr class="my-2">
			<p>Have any questions about the site or came across any issues? Please feel free to reach out on karan.ratanpal+rd@gmail.com</p>
			<p><a href="https://www.linkedin.com/in/karan-ratanpal-93027920">Karan</a></p>
		</hr>
	</div>
</div>